@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-family: 'Ubuntu' sans-serif;
    font-weight: 700;
    /* border-bottom: 2px solid rgb(160, 160, 160); */
    cursor: pointer;
    transition: background-color 150ms;
}

.btn-modern:hover {
    background-color: aqua;
    color: blue;
    transition: 0.4s;
    transform: translateY(-5px);
    box-shadow: 3px 2.2px rgb(155, 156, 155);
}


